DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_APP_URL=https://register.mpvtl.cloud
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@moaetscandg.org.ng
SMTP_PASS=
SMTP_FROM="MPVTL Registrations <info@moaetscandg.org.ng>"
SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
